.auctionRoom-container {
    /* height: 100vh; */
    background-color: rgba(136, 185, 149, 0.8);
    font-family: 'Fascinate Inline', cursive;
}

/* AUCTION TITLE */
.auction-title{
    display: flex;
    align-items: center;
    margin-left: 30px;
    gap: 10px;
}

.auction-title h1{
    color: #FFFBEF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* text-decoration: underline #F9BA2D; */
}

.serge-title {
    width: 300px;
}

.flex {
    display: flex;
}
.elements{
    width: 80%;
    justify-content: space-evenly;
}
.column{
    flex-direction: column;
}

/* LIST OF AUCTIONS */
.auctionList-container{
    width: 35%;
    background: #F5EDC7;
    border: 5px solid #E1BF00;
    border-radius: 30px;
    padding: 0px 10px;
}
.listAuction{
    color: black;
    font-size: 25px;
}
.auction-list{
    border-bottom: 2px solid #F9BA2D;
    padding-bottom: 10px;
}

.nft{
    color: #F9BA2D;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #88673F;
}

.amelioration{
    width: 30px;
    height: 30px;
}

.list{
    justify-content: space-around;
    align-items: center;
}

.station{
    gap: 20px;
    /* margin-bottom: 5px; */
}

.line{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #97C5D4;
    border-radius: 50%;
    padding: 10px;
}

.timeLeft{
    align-self: flex-end;
    gap: 5px;
}
.red-clock{
    width: 20px;
    height: 20px;
}
.time-text-list{
    font-family: 'Enriqueta', serif;
    font-size: 11px;
    color: #D51414;
}

/* CURRENT AUCTION */
.currentAuction-container{
    width: 50%;
    background: #AD3838;
    border: 5px solid #E1BF00;
    box-sizing: border-box;
    border-radius: 30px;
}
.currentAuction {
    color: #FFFBEF;
    font-size: 25px;
}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.clock{
    width: 26px;
}
.time-text{
    font-family: 'Enriqueta', serif;
    color: #FFFBEF;
    font-weight: bold;
}

.cards{
    margin: 25px 0px;
}
.bg-cards{
    width: 360px;
    position: relative;
}
.card-property{
    width: 200px;
    position: absolute;
    z-index: 2;
}

hr {
    display: flex;
    justify-self: center;
    width: 50%;
    border-top: 2px solid #F9BA2D;
    border-bottom: 2px solid #F9BA2D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.auction-value{
    /* width: 60%; */
    flex-direction: column;
    font-family: 'Enriqueta', serif;
    font-weight: bold;
    color: #FED23A;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    /* border-top: 5px solid #F9BA2D;
    border-bottom: 5px solid #F9BA2D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    padding: 15px 0px;
    margin-bottom: 30px;
}
.nft-serge{
    width: 45px;
}
.value{
    font-size: 22px;
}