.auctionRoom-container {
    height: 100vh;
    background-color: rgba(136, 185, 149, 0.8);
    font-family: 'Fascinate Inline', cursive;
    /* position: relative; */
}

/* AUCTION TITLE */
.auction-title{
    display: flex;
    align-items: center;
    margin-left: 30px;
    gap: 10px;
    padding: 10px 0px 20px 0px;
}
.auction-logo{
    width: 80px;
}
.auction-title h1{
    color: #FFFBEF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* text-decoration: underline #F9BA2D; */
}
.serge-title {
    width: 300px;
}
.flex {
    display: flex;
}
.elements{
    width: 80%;
    justify-content: space-evenly;
}
.column{
    flex-direction: column;
}

/* LIST OF AUCTIONS */
.auctionList-container{
    width: 35%;
    background: #F5EDC7;
    border: 5px solid #E1BF00;
    border-radius: 30px;
    padding: 0px 10px;
}
.listAuction{
    color: black;
    font-size: 25px;
}
.auction-list{
    border-bottom: 2px solid #F9BA2D;
    padding-bottom: 10px;
}

.nft{
    color: #F9BA2D;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #88673F;
}

.amelioration{
    width: 30px;
    height: 30px;
}

.list{
    justify-content: space-around;
    align-items: center;
}

.station{
    gap: 10px;
    margin-bottom: 10px;
}

.line{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    padding: 10px;
}
.line-1{
    background-color: #EBCA52;
}
.line-2{
    background-color: #366DAF;
}
.line-4{
    background-color: #AE5595;
}
.line-6{
    background-color: #88B995;
}
.line-7{
    background-color: #D59DB0;
}
.line-11{
    background-color: #88673F;
}
.line-14{
    background-color: #603789;
}
.timeLeft{
    align-self: flex-end;
    gap: 5px;
}
.red-clock{
    width: 20px;
    height: 20px;
}
.time-text-list{
    font-family: 'Enriqueta', serif;
    font-size: 11px;
    color: #D51414;
}

/* CURRENT AUCTION */
.currentAuction-container{
    width: 50%;
    background: #AD3838;
    border: 5px solid #E1BF00;
    box-sizing: border-box;
    border-radius: 30px;
}
.currentAuction {
    color: #FFFBEF;
    font-size: 25px;
}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.clock{
    width: 26px;
}
.time-text{
    font-family: 'Enriqueta', serif;
    color: #FFFBEF;
    font-weight: bold;
}

.cards{
    margin: 20px 0px;
}
.bg-cards{
    width: 360px;
    position: relative;
}
.card-property{
    width: 200px;
    position: absolute;
    z-index: 2;
}

hr {
    display: flex;
    justify-self: center;
    width: 50%;
    border-top: 1px solid #F9BA2D;
    border-bottom: 1px solid #F9BA2D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.auction-value{
    /* width: 60%; */
    flex-direction: column;
    font-family: 'Enriqueta', serif;
    font-weight: bold;
    color: #FED23A;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    /* border-top: 5px solid #F9BA2D;
    border-bottom: 5px solid #F9BA2D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    padding: 10px 0px;
    margin-bottom: 30px;
}
.nft-serge{
    width: 30px;
}
.value{
    font-size: 20px;
}