.profile-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-image: url(../../../public/images/fond-metro.png);
    background-size: auto;
}

.header {
    display: flex;
    margin-left: 20px;
}

.profile-picture {
    height : 80px;
    width : 70px;
    background-color: #97C5D4;
    background : no-repeat;
    background-image: url(../../../public/images/pawn-green.png);
    background-size: cover;
    margin-top: 10px;
}

.user-title{
    font-family: Fascinate Inline;
    font-style: normal;
    font-weight: 900;
    font-size: 38px;
    line-height: 64px;
    color: #000000;
}

.cards-container{
    position: absolute;
    left: 3.01%;
    right: 28.01%;
    top: 13%;
    bottom: 22%;

    background: #F5EDC7;
    border: 5px solid #E1BF00;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 10px;

    overflow-y: scroll;
}

.list-propertyCard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    overflow-y: scroll;
}

.li-card{
    margin: 10px;
}

.station-title{
    margin-top: 10px;
    font-size: 28px;
    text-align: center;
}

.footer {
    display: flex;
    font-size: 60px;
}